<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <script src="index.js"></script>
    <p>Hi</p>
    <div id="app">
      <audio controls="" style="width: 100%">
        <source src="http://128.2.204.47:8001/debug/0_1.wav" type="audio/wav" />
      </audio>
    </div>
    
    ??
  </body>
</html>
